@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === Colours === */
  --color-pri-dark: #006847;
  --color-pri-light: #e9f5ec;
  --color-sec-dark: #fafaf9;
  --color-sec-light: #006847;
  --color-accent: #f4a261;
  --color-hover: #2d6a4f;
  --color-neutral-light: #d1d5db;
  --color-neutral-dark: #4b5563;

  /* === Typography === */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}
