@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === Colours === */
  --color-pri-dark: #281b4e;
  --color-sec-dark: #f5f5f5;
  --color-pri-light: #f5f5f5;
  --color-sec-light: #3a3a78;
  --color-accent: #e55b4f;
  --color-hover: #2d6a4f;
  --color-neutral-light: #dcdcdc;
  --color-neutral-dark: #4b5563;

  /* --color-pri-dark: #281b4e;
  --color-sec-dark: #facfee;

  --color-pri-light: #f3d0f0;
  --color-sec-light: #3c2159;

  --color-accent: #e86a7a;
  --color-hover: #5b2a86;

  --color-neutral-light: #e8e4ea;
  --color-neutral-dark: #3c3f47; */

  /* === Typography === */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

.nav-visible {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.nav-hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

ul li {
  width: auto;
  position: relative;
  width: min-content;
}
ul li .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transform: scaleX(0);
  height: 2px;
  width: 100%;
  transition: transform 0.25s ease-out;
}
ul li:hover .underline {
  transform: scaleX(1);
}
form button {
  background-color: auto;
  padding: auto;
}
form span {
  min-width: 100%;
}
@media screen and (min-width: 768px) {
  form * {
    width: 80%;
  }
  form button {
    width: min-content;
  }
}
@media screen and (min-width: 1024px) {
  form * {
    width: 50%;
  }
  form button {
    width: min-content;
  }
}
