@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === Colours === */
  --color-pri-dark: #006847;
  --color-sec-dark: #fafaf9;
  --color-pri-light: #e9f5ec;
  --color-sec-light: #006847;
  --color-accent: #f4a261;
  --color-hover: #2d6a4f;
  --color-neutral-light: #d1d5db;
  --color-neutral-dark: #4b5563;

  /* === Typography === */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

ul li {
  width: auto;
  position: relative;
  width: min-content;
}
ul li .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transform: scaleX(0);
  height: 2px;
  width: 100%;
  transition: transform 0.25s ease-out;
}
ul li:hover .underline {
  transform: scaleX(1);
}
